<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/shared.css">
    <title>Přihlášení</title>
</head>

<body>
    <h1>Přihlášení</h1>
    <form action="/login" method="post">
        <fieldset class="dialog">
            <h1>Jellyfish</h1>
            <h2>Uživatelské jméno</h2>
            <input type="text" name="username" placeholder="Jan Novák">

            <br>

            <h2>Heslo</h2>
            <input type="password" name="password" placeholder="Jannovak123">

            <br>
            <button type="submit" class="btn">Přihlásit se</button>
        </fieldset>
    </form>
</body>
<style>
</style>

</html>