{% if ticker == "global" %}
<h1>Globální statistiky</h1>
{% else %}
<h1>Statistiky</h1>
{% endif %}
<div class="statWrapper">
    {% for statistic in statistics %}
    <div class="border stat">
        <h2>{{statistic.name}}</h2>
        <p>
            Počet obchodů: <span id="{{ticker}}_{{statistic.id}}_number_of_trades">{{statistic.number_of_trades}}</span>
        </p>

        <p>{{statistic.name}} výdej:
            <span id="{{ticker}}_{{statistic.id}}_expenditure">{{statistic.expenditure}}</span>
        </p>

        <p>{{statistic.name}} příjem:
            <span id="{{ticker}}_{{statistic.id}}_revenue">{{statistic.revenue}}</span>
        </p>


        <p>{{statistic.name}} poplatek:
            <span id="{{ticker}}_{{statistic.id}}_fee">{{statistic.fee}}</span>
        </p>

        <p>{{statistic.name}} zisk:
            <span id="{{ticker}}_{{statistic.id}}_profit">{{statistic.profit}}</span>
        </p>

        <p>{{statistic.name}} ziskový faktor:
            <span id="{{ticker}}_{{statistic.id}}_profit_factor">{{statistic.profit_factor}}</span>
        </p>

    </div>
    {% endfor %}

</div>

<style>
    .statWrapper {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 30px;
    }

    .stat {
        text-align: center;
        margin: auto;
        width: 300px;
    }
</style>