<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script> -->

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>

<script src="static/graph.js"></script>

<h1>{{ ticker }}</h1>
<price-graph ticker="{{ ticker }}" style="width: max-content;"></price-graph>
<div>{{statistics|safe}}</div>
</div>